
@{
    ViewData["Title"] = "_ReturnToList";
}

<form asp-controller="Songs" asp-action="Index" name="all" class="w-25 mx-auto ajaxForm" method="get">
    <input type="hidden" name="all" value="Wróć do listy" />
    <input type="submit" value="Wróć do listy" class="btn btnDiv textColor" style="margin:0px;" />
</form>