@model IEnumerable<inz.Models.Song>

@{
    ViewData["Title"] = "Album";
}

<div class="panelDiv textColor">
    <h2 class="mb-4">Album: @Model.First().Album.Name_Album</h2>

    @*<form name="btn btn-danger btn-file mt-3 mb-4">
            Dodaj plik dźwiękowy <input type="file" style="display: none;">
            <button class="float-right textColor btnDiv">Dodaj okładke albumu </button>
        </form>*@

    @{var idAlbum = @Model.First().ID_Album; }

    @if (Model.First().Album.ImgAlbumUrl == null)
    {
        <form id="formImgAlbum" asp-action="AddImgAlbum" id="submitForm" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input name="idAlbum" type="hidden" value="@idAlbum" />
            </div>

            <div class="form-group">
                <input name="ImgAlbum" type="file" id="selectedFile" style="display: none;" />
            </div>

            <input id="buttonSubmit" class="float-right textColor btnDiv" type="button" value="Dodaj okładke albumu" onclick="document.getElementById('selectedFile').click();" />

            <script>
                document.getElementById("selectedFile").onchange = function () {
                    document.getElementById("formImgAlbum").submit();
                };
            </script>
        </form>
    }
    else
    {
        <img id="albumImg" src="https://pracainzynierska.blob.core.windows.net/imgalbum/@Model.First().Album.ImgAlbumUrl" width="150px;" height="150px;" />
    }

    <br />

    <span class="float-left mb-5">Informacje o albumie</span>

    @await Html.PartialAsync("_Table")

    @await Html.PartialAsync("_ReturnToList")

</div>

