@model IEnumerable<inz.Models.Song>

@{
    ViewData["Title"] = "Artist";
}


<div class="panelDiv textColor">
    <h2 class="mb-4">Utwory: @Model.First().Artist.Name_Artist</h2>

    @await Html.PartialAsync("_Table")

    @await Html.PartialAsync("_ReturnToList")

</div>

