@model inz.Models.CreateViewModel
@Html.ValidationMessageFor(model => model.Title)

@{
    ViewData["Title"] = "Create";
}

<div class="panelDiv textColor">
    <h2>Dodaj nowy utwór</h2>
    <hr />
    <div class="w-50 mx-auto">
        <form asp-action="CreateVM" method="post" enctype="multipart/form-data" class="ajaxCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_Artist" class="control-label"></label>
                <input asp-for="Name_Artist" class="form-control" />
                <span asp-validation-for="Name_Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_Album" class="control-label"></label>
                <input asp-for="Name_Album" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name_Producer" class="control-label"></label>
                <input asp-for="Name_Producer" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Name_mp3" class="btn btn-danger btn-file mt-3 mb-4">
                    Dodaj plik dźwiękowy <input asp-for="Name_mp3" type="file" style="display: none;">
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Dodaj utwór" class="btn btn-danger" />
            </div>
        </form>
    </div>

    @await Html.PartialAsync("_ReturnToList")

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
