@model inz.Models.Songs

@{
    ViewData["Title"] = "Edit";
}


<div class="panelDiv textColor">
    <h4>Edytuj utwór</h4>
    <hr />
    <div class="w-25 mx-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Artist" class="control-label">Artysta</label>
                <input asp-for="Artist" class="form-control" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tytuł</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album" class="control-label">Album</label>
                <input asp-for="Album" class="form-control" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-danger" />
            </div>
        </form>
    </div>

    <div class="">
        <form asp-controller="Songs" asp-action="Index" name="all" class="w-25 mx-auto" method="get">
            <input type="submit" name="all" value="Wróć do listy" class="btn btnDiv textColor" style="margin:0px;"/>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
