@model inz.Models.AlbumViewModel

@{
    ViewData["Title"] = "EditAlbum";
}

<div class="panelDiv textColor">
    <h4>Edytuj informacje o albumie</h4>
    <hr />
    <div class="w-25 mx-auto">
        <form id="editform" asp-action="EditAlbum" method="post" enctype="multipart/form-data" class="ajaxCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InfoAlbum" class="control-label">Informacje o albumie</label>
                <textarea asp-for="InfoAlbum" class="form-control" asp-items="@Html.DisplayFor(model => model.InfoAlbum)" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Data wydania</label>
                <input type="date" asp-for="ReleaseDate" class="form-control" asp-items="@Html.DisplayFor(model => model.ReleaseDate)" />
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-danger" />
            </div>
        </form>
    </div>

    @await Html.PartialAsync("_ReturnToList")

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


