body {
    padding: 0px;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

#audioPlayer {
    float: right;
    left: unset;
    width:132px;
    height:300px;
}

.album {
    float: none;
}

#btnPlay, .btnEdit {
    border: none;
    padding: 0;
    background: none;
}

.dropIndex:hover {
    background-color: #911511;
}

.fa-play-circle, .fa-plus, .fa-edit, .fa-volume-off, .fa-volume-up {
    color: #911511;
}

.nav-item {
    padding: 5px;
}

.nav-item:hover {
    color: #d9534f;
}

.navbar {
    border: solid 6px #911511;
    border-radius: 20px !important;
    padding: 0px;
    background-color: #0e0e0e !important;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color:#d9534f;
    font-weight: bold;
    text-decoration: none;
}

.textColor {
    color: white;
}

.textColor:hover {
    color: white;
}

.navbar-nav {
    background-color: #0e0e0e !important;
    border-radius: 12px;
}

.navbar-nav > li:hover {
    background-color: #ff4444;
    text-decoration: none !important;
    color: white;
    border-radius: 12px;
}

.leftBar {
    border-color: #ff4444;
    color: white;
}

.container {
    border-radius: 20px !important;
}

.carousel {
    border-radius: 55px 55px 55px 55px;
    overflow: hidden;
    border: solid 6px #911511;
    margin: 0px 0px 10px 0px;
    width:1080px;
}

.nav-pills > li > a {
    background: #440200;
    color: white;
}

.icon {
    color: #911511;
}

.contactDiv {
    text-align: center;
    border-radius: 10px;
    border: solid 6px #911511;
    margin: 15px 5px 15px 15px;
    padding: 20px;
    background-color: #0e0e0e;
    width:30%;
}

.panelDiv {
    text-align: center;
    border-radius: 10px;
    border: solid 6px #911511;
    margin: 15px;
    padding: 20px;
    background-color: #0e0e0e;
}

.searchBorder {
    border-width:3px;
}

.searchBorder:focus {
    box-shadow: none;
}

.btnDiv {
    text-align: center;
    border-radius: 30px;
    border: solid 7px #911511;
    margin: 15px;
    background-color: #0e0e0e;
    padding: 8px;
    text-decoration: none;
    list-style: none;
    cursor:pointer;
}

.btnDiv:hover {
    background-color: #ff4444;
    text-decoration: none !important;
    color: white;
}

.btnIndex {
    text-align: center;
    border-radius: 30px;
    border: solid 4px #911511;
    margin: 5px;
    background-color: #0e0e0e;
    padding: 4px;
    text-decoration: none;
    list-style: none;
}

.btnIndex:hover {
    background-color: #ff4444;
    text-decoration: none !important;
    color: white;
}

.table th, .table td {
    vertical-align: middle !important;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.fa-thumbs-up:hover{
    color:green;
}

.fa-thumbs-down:hover{
    color:red;
}

@media screen and (max-width:1280px) {
    .carousel {
        width:100%;
    }

    .tableSong {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    h5 {
        font-size: 2.8vw;
    }
    h4 {
        font-size: 3.4vw;
    }
    h3{
        font-size: 4vw;
    }
    br {
        display: block;
        margin: 5px;
        line-height: 2px;
        content: " ";
    }
    .tableSong {
        font-size: 2.2vw;
    }
    ::-webkit-input-placeholder {
        font-size: 12px !important;
    }

    :-moz-placeholder { /* Firefox 18- */
        font-size: 12px !important;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        font-size: 12px !important;
    }
    .send{
        width:100% !important;
        margin:0px;
    }
    .w-25 {
        width: 100% !important;
    }
    .w-50 {
        width: 75% !important;
    }
}

@media screen and (max-width:360px) {
    h5 {
        font-size: 2vw;
    }
    h3 {
        font-size: 2.5vw;
    }
    .tableSong {
        font-size: 2vw;
    }
}

.btn {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/*.btnNav {
    height: 100%;
    width: 100%;
    background-color: transparent;
}*/

.player {
    float: right;
    left: unset;
    height:300px;
    width: 133px;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #0e0e0e;
    border: solid 6px #911511;
    border-radius: 20px !important;
}
.album-cover {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    display: block;
    max-width: 100px;
}

.song-progress-bar {
    width: 100%;
    height: 8px;
    background-color: red;
    margin: 10px 0;
}

.inner-bar {
    height: 3px;
    background: #df405a;
    width: 25%;
}

.song-info, .song-title {
    margin-bottom: 0;
    color:white;
    font-size: 12px;
}

.song-band {
    margin-bottom: 0 !important;
}

.player-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #911511;
}

.playerbtn {
    font-size: 25px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}






.middle {
    opacity: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    text-align: center;
}

.buttonOverlay:hover #albumImg {
    opacity: 0.5;
}

.buttonOverlay:hover .middle {
    opacity: 1;
}



.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff4444;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 20px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #911511;
    margin-top: -4px;
}
