@{
    ViewData["Title"] = "Brak dostępu";
}

<div class="panelDiv textColor">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">Nie masz tutaj dostępu.</p>
    </header>
</div>
