@{
    ViewData["Title"] = "Potwierdzenie maila";
}

<div class="panelDiv textColor">
    <h2>@ViewData["Title"]</h2>
    <div>
        <p>
            Dziękujemy za potwierdzenie maila
        </p>
    </div>
</div>
