@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Przypomnij hasło";
}

<div class="panelDiv textColor">
    <h4>Wprowadź swój mail w celu przywrócenia hasła</h4>
    <hr />
    <form asp-action="ForgotPassword" method="post" class="mx-auto w-25">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Wyślij</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
