@{
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="panelDiv textColor">
    <h2>@ViewData["Title"]</h2>
    <p>
        Twoje hasło zostało zmieninone. Proszę <a asp-action="Login">kliknąć tutaj w celu zalogowania się</a>.
    </p>
</div>
