@using Microsoft.AspNetCore.Identity
@using inz.Models

@model IEnumerable<inz.Models.Song>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "_Login";
}

@if (!SignInManager.IsSignedIn(User))
{
    <div class="mt-5">
        <ul class="w-50 mx-auto">
            <li class="btnDiv"><a asp-area="" asp-controller="Account" asp-action="Login" class="textColor btn">Zaloguj się</a></li>
            <li class="btnDiv"><a asp-area="" asp-controller="Account" asp-action="Register" class="textColor btn">Zarejestruj się już teraz</a></li>
        </ul>
    </div>
}
else
{
    <form asp-controller="Songs" asp-action="Index" method="get" class="ajaxSearch">
        <div class="input-group w-50 m-4 mx-auto">
            <input type="text" class="form-control input-lg border-danger searchBorder" placeholder="Wyszukaj utwór lub artyste" name="search" />
            <span class="input-group-btn">
                <button class="btn btn-danger" type="submit" name="search">
                    <i class="fas fa-search"></i>
                </button>
            </span>

            <div class="dropdown w-0">
                <button class="btn btn-danger fas fa-search-plus" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu bg-danger textColor text-center" aria-labelledby="dropdownMenuButton">
                    Wyszukaj utwór wydany między
                    <input type="date" class="form-control input-lg border-danger" id="dateFrom" name="dateFrom"/>
                    a dniem
                    <input type="date" class="form-control input-lg border-danger" id="dateTo" name="dateTo"/>
                    <button class="btn btn-danger dateSearch">
                        Wyszukaj

                        <script>
                            $('.dateSearch').click(function (event) {
                                var from = document.getElementById('dateFrom').value;
                                var to = document.getElementById('dateTo').value;

                                if (!from && !to) {
                                    event.preventDefault();
                                    alert("Wpisanie daty jest wymagane!!!");
                                }
                            })
                        </script>
                    </button>
                </div>
            </div>

            <div class="dropdown w-0">
                <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton">
                    <button class="btn btn-danger allSearch">
                        Wyświetl wszystko

                        <script>
                            $('.allSearch').click(function () {
                                $('.ajaxSearch').append('<input type="hidden" name="all" value="Wyświetl wszystko" class="btn btn-danger" />');
                            })
                        </script>

                    </button>

                    <button class="btn btn-danger favorite">
                        Moje ulubione utwory

                        <script>
                            $('.favorite').click(function () {
                                $('.ajaxSearch').append('<input type="hidden" name="favorite" value="Wyświetl ulubione" class="btn btn-danger" />');
                            })
                        </script>
                    </button>

                </div>

            </div>
        </div>
    </form>

    <div class="text-center">
        <button asp-action="../Songs/Create" class="textColor btnDiv ajax">Dodaj nowy utwór <i class="fas fa-plus-circle fa-lg"></i></button>
    </div>
}