@{
    ViewData["Title"] = "O stronie";
}

<div class="panelDiv textColor">
    <h2>Informacje o stronie</h2>
    <h3>Praca inżynierska</h3>

    Główne założenia aplikacji:
    <ul class="text-left">
        <li> Gromadzenie plików audio w bazie danych</li>
        <li> Gromadzenie tekstów wcześniej wprowadzonych utworów muzycznych</li>
        <li> Gromadzenie odnośników do serwisu YouTube w celu możliwości obejrzenia teledysków czy też innych rzeczy związanych z utworem</li>
        <li> Katalogowanie utwór pod względem albumów</li>
        <li> Gromadzenie informacje o utworach (data premiery, ciekawostki)</li>
        <li> Portal posiada dwie grupy użytkowników – administratorów oraz zwykłych użytkowników</li>
        <li> Wyłącznie administratorzy mogą dodawać pliki audio do bazy</li>
        <li> Microsoft Azure i ASP.NET Core 2</li>
        <li> Wyszukiwanie plików</li>
        <li> Diagram przypadku użycia</li>
        <li> Diagram UML</li>
        <li> Język programowania</li>
        <li> Model bazy danych</li>
        <li> System oceniania utworów przez użytkowników</li>
    </ul>

</div>
