@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmień hasło";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="panelDiv textColor">
    <h4>Zmień hasło</h4>
    @Html.Partial("_StatusMessage", Model.StatusMessage)

    <form method="post" class="w-50 mx-auto">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="OldPassword">Bieżące hasło</label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword">Nowe hasło</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Potwierdź nowe hasło</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger">Zmień hasło</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
